<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>项目管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form" action="" lay-filter="project-search-form">

                        <div class="layui-inline">
                            <input class="layui-input" name="blurry" id="project-search-blurry" autocomplete="off">
                        </div>

                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="project-search">搜索</button>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 100px">显示所有项目</label>
                            <input type="checkbox" id="displayAllProject" checked="" name="displayAllProject"
                                   lay-skin="switch" lay-filter="displayAllProject" lay-text="ON|OFF">
                        </div>
                    </form>
                </div>

                <div class="layui-card-body">
                    <table class="layui-hide" id="project-table" lay-filter="project-table"></table>

                    <script type="text/html" id="project-table-toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="addProject">新建项目</button>
                        </div>
                    </script>

                    <script type="text/html" id="projectDisplay">
                        <input type="checkbox" name="display" lay-skin="switch" lay-text="显示|隐藏"
                               lay-filter="projectDisplay" value="{{ d.display }}"
                               data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" {{ d.display ? 'checked' : '' }}>
                    </script>

                    <script type="text/html" id="project-version">
                        <a class="layui-btn layui-btn-xs"
                           lay-href="versions.html?projectId={{d.id}}&projectCode={{d.code}}">版本管理</a>
                    </script>

                    <script type="text/html" id="sendPush">
                        <button class="layui-btn layui-btn-xs" lay-event="sendPush">推送更新</button>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/layuiadmin/layui/layui.js"></script>
<script>


    function model() {
        var _self = this;
        var table, form, $;
        this.init = function () {
            layui.config({
                base: '../static/layuiadmin/'
            }).extend({
                index: 'lib/index'
            }).use(['index', 'table'], function () {
                table = layui.table;
                form = layui.form;
                $ = layui.$

                table.render({
                    elem: '#project-table'
                    , url: "/api/project/page"
                    , height: 'full-100'
                    , toolbar: '#project-table-toolbar'
                    , title: '项目管理'
                    , cols: [[
                        {field: 'id', title: 'ID', fixed: 'left', unresize: true}
                        , {field: 'code', title: '项目号'}
                        , {field: 'name', title: '项目名', event: 'setName'}
                        , {field: 'remark', title: '备注', event: 'setRemark'}
                        , {field: 'createTime', title: '创建时间'}
                        , {field: 'display', title: '显示|隐藏', templet: '#projectDisplay'}
                        , {title: '版本管理', templet: '#project-version'}
                        , {title: '推送更新', templet: '#sendPush'}

                    ]]
                    , request: {
                        pageName: "page",
                        limitName: "size"
                    }
                    , page: true
                    , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                        return {
                            "code": 0, //解析接口状态
                            "msg": "", //解析提示文本
                            "count": res.totalElements, //解析数据长度
                            "data": res.content //解析数据列表
                        };
                    }
                });

                //头工具栏事件
                table.on('toolbar(project-table)', function (obj) {
                    switch (obj.event) {
                        case 'addProject':
                            var index = layer.open({
                                title: "新建项目",
                                type: 2,
                                area: ['700px', '450px'],
                                fixed: true,
                                // maxmin: true,
                                content: 'project_add.html'
                            });
                            layer.full(index);
                    }
                });

                form.render(null, 'project-search-form');

                form.on('switch(displayAllProject)', function (data) {
                    _self.reload();
                });

                form.on('submit(project-search)', function (data) {
                    _self.reload();
                    return false;
                });

                form.on('switch(projectDisplay)', function (obj) {
                    var json = JSON.parse(decodeURIComponent($(this).data('json')));
                    json = table.clearCacheKey(json);
                    _self.updateProject(json.id, json.name, obj.elem.checked, json.remark);
                });

                table.on('tool(project-table)', function (row) {
                    var project = row.data;
                    switch (row.event) {
                        case "setName":
                            layer.prompt({
                                formType: 0
                                , title: '修改' + project.code + '的项目名'
                                , value: project.name
                            }, function (value, index) {
                                layer.close(index);
                                _self.updateProject(project.id, value, project.display, project.remark);
                            });
                            break;
                        case "setRemark":
                            layer.prompt({
                                formType: 2
                                , title: '修改' + project.code + '的项目备注'
                                , value: project.remark
                            }, function (value, index) {
                                layer.close(index);
                                _self.updateProject(project.id, project.name, project.display, value);
                            });
                            break;
                        case "sendPush":
                            layer.prompt({
                                formType: 0
                                , title: '输入完成推送的时间（分钟）'
                                , value: 60
                            }, function (value, index) {
                                layer.close(index);
                                _self.sendPush(project.code, value);
                            });
                            break;
                    }
                });
            });
        };

        this.updateProject = function (id, name, display, remark) {
            var loadIndex = layer.load("", {shade: 0.3});
            $.ajax({
                url: '/api/project',
                method: 'put',
                contentType: 'application/json',
                dataType: 'JSON',
                data: JSON.stringify({
                    id: id,
                    name: name,
                    display: display,
                    remark: remark,
                }),
                success: function (res) {
                    layer.close(loadIndex);
                    _self.reload();
                },
                error: function (data) {
                    layer.close(loadIndex);
                    _self.reload();
                }
            });
        };

        this.sendPush = function (projectCode, timeInMin) {
            var loadIndex = layer.load("", {shade: 0.3});
            $.ajax({
                url: '/api/push/sendPush?projectCode=' + projectCode + '&timeInMin=' + timeInMin,
                method: 'get',
                success: function (res) {
                    layer.close(loadIndex);
                    layer.msg("推送成功");
                },
                error: function (data) {
                    layer.close(loadIndex);
                    layer.msg("推送失败");
                }
            });
        };

        this.reload = function () {
            var formData = form.val("project-search-form");

            table.reload('project-table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    blurry: formData.blurry,
                    display: formData.displayAllProject === "on" ? "" : "true"
                }
            });
        };
    }

    var _model = new model();
    _model.init();

</script>
</body>
</html>
